<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap" rel="stylesheet"> 
    <title>sam</title>
</head>
<body>
    <header>
        <h1>A url shortener app made by Samiul khan</h1>
        <form action="/url" method="POST" style="display: flex; flex-direction:column">
            <label for="alias">Provide a alternative name for the website</label>
        <input type="text" placeholder="Alias name if not provided a default nanoid will be given to this field,i don't care about you" id="alias" name="alias">
        <label for="url">Copy the url from the website url bar  you want to alias</label>
        <input type="url" placeholder="Url" id="url" required="true" name="url">
        <input type="submit" value="submit">
        </form>
    </header>
</body>
</html>